.content{
  background-color: #444;
  margin-top: 77px;
  text-align: center;
  height: 100%;
  &__contents{
    padding-top: 30px;
    margin: auto;
    max-width: 700px;
    &__post{
      background-color: #333;
      border: 1px solid #333;
      margin-top: 30px;
      &__header{
        padding: 16px;
        &__name{
          float: left;
          text-align: left;
          color: #fff;
        }
        &__show{
          text-align: right;
          &__id{
            color: #fff;
            text-decoration: none;
          }
        }
      }
      &__like{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 10px;
      }
      &__text{
        color: #fff;
        width: 100%;
      }
      &__image{
        width: 100%;
        height: 380px;
        object-fit: cover;
        background-position: center center;
      }
    }
  }
  &__sign{
    padding-top: 30px;
    margin: auto;
    max-width: 700px;
    height: 600px;
  }
}