.header{
  height: 77px;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .top{
    height: 77px;
    margin: auto;
    align-items: center;
    max-width: 1010px;
    padding: 26px 20px;
    width: 100%;
    .grid-6{
      font-size: 23px;
      line-height: 30px;
      float: left;
      .toplink{
        color: #fff;
        text-decoration: none;
      }
    }
    .user_nav{
      float: right;
      text-align: right;
      .user_name{
        float: left;
        color: #fff;
      }
      .user__info{
        float: right;
        .page{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}