.user{
  padding-top: 30px;
  margin: auto;
  max-width: 800px;
  height: 648px;
  .nickname{
    font-size: 30px;
    color: #fff;
    padding: 20px;
  }
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    flex-basis: 33.3%;

    .photo-list-img {
      height: 100%;
      width: 100%;
      border: 3px solid #444;
    }
  }
}