.pagination>li>a {          
  border: none;     
  color: #999;   
  background-color: #444;
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}


.pagination>li>a:hover {        
  border-radius: 15px;    
}